#home-container {
    text-align: center;
    line-height: 7vh;
}

#greeting-container {
    padding: 10%;
}

.greet {
    font-size: large;
}

#redirect-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 5vh;
    background-color: rgb(243, 245, 247);
    height: 80vh;
}

#redirect-header {
    padding-top: 20vh;
    background-color: rgb(243, 245, 247);
    font-size: xx-large;
    font-weight: bold;
}

.redirect-containers {
    height: 100%;
    padding-top: 10vh;
    line-height: 10vh;
    font-size: large;
}

.homepage-title {
    font-size: larger;
    font-weight: bold;
    transition: .2s;
}

.homepage-title:hover {
    transform: scale(1.1);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#recycle-header {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSDx5liOfzcUVEaIl9dLbp-x3DqbmwVSUZxVQ');
    background-size: 100% 300%;
    background-repeat: no-repeat;
    color: white;
    width: 20vw;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#environment-header {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2bOcmfHV4k4sDEKdA0MfoJBg1eKDJ6JS46A');
    background-size: 100% 300%;
    background-position: 3%;
    background-repeat: no-repeat;
    color: white;
    width: 20vw;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#second-hand-header {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJ_iUFshx8aRmKE-RawPe_2jYK5QiLdS4KOjN2vpENkih6txby7onpg4jTWL5OftQbMo8');
    background-size: 100% 300%;
    background-repeat: no-repeat;
    color: white;
    width: 20vw;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.home-inner-container {
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.redirect-links:hover {
    color: rgb(169, 211, 4);
}

#homepage-breaker {
    height: 40vh;
}
@media only screen and (max-width: 769px){
    .recycle-containers{
 margin: 30vh;
 flex-direction: column;
}
.redirect-links{
font-size: 3vw;
width: 25vw;
font-weight: bold;
}
#second-hand-header{
    font-size: 2.5vw;
width: 25vw;
height: 20vh;

}
#environment-header{
    font-size: 3vw;
width: 25vw;

}
#recycle-header{
    font-size: 4vw;
    width: 25vw;

}
#homepage-breaker{
    height: 0vh;
}
}