#second-page-container {
    padding-top: 40vh;
    padding-bottom: 40vh
}

#second-inner-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#second-clothing {
    background-image: url('https://media.timeout.com/images/105497835/image.jpg');
    background-size: 120% 100%;
    background-position: 50%;
    width: 25vw;
    height: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: larger;
    font-weight: bold;
    color: white;
    text-shadow:  2px 2px 10px #000000;
    transition: .2s;
    box-shadow: #787171 0px 0px 25px;
}

#second-clothing:hover {
    transform: scale(1.1);
}

#second-electric {
    background-image: url('https://media-cldnry.s-nbcnews.com/image/upload/t_nbcnews-fp-1200-630,f_auto,q_auto:best/newscms/2019_17/2829986/190422-old-cell-phones-stock-cs-909p.jpg');
    background-repeat: no-repeat;
    background-size: 160% 100%;
    background-position: 50%;
    width: 25vw;
    height: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: larger;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow:  2px 2px 10px #000000;
    transition: .2s;
    box-shadow: #787171 0px 0px 25px;
}

#second-electric:hover {
    transform: scale(1.1);
}

#second-furniture {
    background-image: url('https://www.telegraph.co.uk/content/dam/interiors/2018/11/01/TELEMMGLPICT000179595798_trans_NvBQzQNjv4Bqjj7NJ3YiIjAb1WHq3sE3uhKttfbwsG9PqG0T37pchKo.jpeg');
    background-repeat: no-repeat;
    background-size: 160% 100%;
    background-position: 50%;
    width: 25vw;
    height: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: larger;
    font-weight: bold;
    color: white;
    text-shadow:  2px 2px 10px #000000;
    transition: .2s;
    box-shadow: #787171 0px 0px 25px;
}

#second-furniture:hover {
    transform: scale(1.1);
}