.intro-container {
  display: flex;
  width: 55vw;
  height: 10vh;
  border-radius: 20px;
  margin-left: 5vw;
  padding: 1.5vw;
  background-color: rgb(215 253 224);
  flex-direction: column;
}
.intro-header {
  font-size: 1.2vw;
  font-weight: bold;
}
.intro-info {
  font-size: 1.1vw;
  display: flex;
  justify-content: space-between;
}
.intro-user-pic {
    margin-right: 1vw;
    width: 45px;
    height: 45px;
    border-radius: 100%;
}
.user-pic-container{
    display: flex;
    margin-top: 1vh;
}
.username-intro{
    display: flex;
    align-items: center;
}
@media only screen and (max-width: 900px){
    .intro-header{
        font-size: 1.8vw;
    }
    .username-intro{
        font-size: 2.2vw;
    }
    .intro-user-pic {
        width: 40px;
        height: 40px;
    }
    .intro-container{
        height: 14vh;
    }
}
@media only screen and (max-width: 670px){
    .intro-header{
        font-size: 2.2vw;
    }
}
@media only screen and (max-width: 520px){
    .intro-header{
        font-size: 2.5vw;
    }
    .username-intro{
        font-size: 2.7vw;
    }
    .intro-user-pic {
        width: 35px;
        height: 35px;
    }
}
@media only screen and (max-width: 435px){
    .intro-header{
        font-size: 2.7vw;
    }
    .intro-user-pic {
        width: 32px;
        height: 32px;
    }
}
@media only screen and (max-width: 392px){
    .intro-header{
        font-size: 3vw;
    }
    .username-intro{
        font-size: 3vw;
    }
    .intro-user-pic {
        width: 28px;
        height: 28px;
    }
    .intro-container{
        height: 12vh;
    }
}