.intro-container {
  display: flex;
  width: 40vw;
  height: 9vh;
  border-width: 1px;
  border-radius: 15px;
  border-style: inset;
  margin-left: 5vw;
  padding: 1.5vw;
  background-color: rgb(215 253 224);
  flex-direction: column;
}
.intro-header {
  font-size: 1.2vw;
  font-weight: bold;
}
.intro-info {
  font-size: 1.1vw;
  display: flex;
  justify-content: space-between;
}
.intro-user-pic {
    margin-right: 1vw;
    width: 45px;
    height: 45px;
    border-radius: 100%;
}
.user-pic-container{
    display: flex;
    margin-top: 1vh;
}
.username-intro{
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 928px){
    #intro-container{
        width: 45vw;
    }
}