@import url('https://fonts.googleapis.com/css2?family=Alef&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Alef;
}

html,body,#root{
  min-width: 100%;
  min-height: 100vh;
}
a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}